.autocomplete-wrapper {
    width: auto;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid black;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.autocomplete-wrapper.close {
    display: none;
}

.autocomplete-list {
    padding: 5px 5px 5px 10px;
    background-color: #eee;
}

.autocomplete-list.selected {
    background-color: #ccc;
}

.autocomplete-list:hover {
    background-color: #ccc;
    cursor: pointer;
}
